<div class="cadastro"> 
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 centro">
                    
                    <div class="row align-items-center ">
                        <div class="col-lg-3 d-none d-lg-block">
                            <a href="" class="text-decoration-none">
                                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                        class="text-primary font-weight-bold border px-3 mr-1">Logos</span></h1>
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h4 class="mb-3">Insira seus dados para criar seu perfil profissiona</h4> 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Nome</label>
                                    <input class="form-control" type="text" v-model="nome"
                                        placeholder="John">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" v-model="email"
                                        placeholder="example@email.com">
                                </div>

                                <div class="col-md-6 form-group">
                                    <label>Senha</label>
                                    <input class="form-control" type="password" v-model="password"
                                        placeholder="*********">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Repetir Senha</label>
                                    <input class="form-control" type="text"
                                        placeholder="*********">
                                </div> 

                            </div>
                        </div>
                        <div class="card-footer border-secondary
                            bg-transparent">

                            <button class="btn btn-block btn-primary my-3 py-3" @click="cadastra()">Cadastra</button>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
</div>