<div class="anucio"> 
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
              
                <div class="col-lg-12 "> 
                    <div class="card border-secondary mb-2">
                        <div class="card-header bg-secondary border-0">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h5 class="">Dados da casa</h5> 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>titulo</label>
                                    <input class="form-control" type="text"
                                        placeholder="John">
                                </div>  

                                <div class="col-md-4 form-group">
                                    <label>Preco</label>
                                    <input class="form-control" type="text"
                                        placeholder="0000">
                                </div>  

                                <div class="col-md-4 form-group">
                                    <label>Numero de quarto</label>
                                    <select class="custom-select ">
                                        <option selected>Quartos</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option> 
                                    </select>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
 
                <div class="col-lg-12 "> 
                    <div class="card border-secondary mb-2">
                        <div class="card-header bg-secondary border-0">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h5 class="">Fotos</h5> 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                               
                                    <form>
                                        <div>
                                            <label for="arquivo">Enviar arquivo</label>
                                            <input type="file" name="arquivo" id="arquivo">
                                        </div>
                                    </form>
 
                                    
                                </div>  

                            </div>
                        </div> 
                    </div>
                </div>

                <div class="col-lg-12 "> 
                    <div class="card border-secondary mb-2">
                        <div class="card-header bg-secondary border-0">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h5 class="">Localização</h5> 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                        <label>Provincia</label>
                                    <select class="custom-select">
                                        <option selected>selecione a sua provincia</option>
                                        <option>Luanda</option>
                                        <option>Uige</option>
                                        <option>Benguela</option>
                                    </select>
                                </div>  

                                <div class="col-md-6 form-group">
                                    <label>Bairro</label>
                                    <input class="form-control" type="text"
                                        placeholder="gameck">
                                </div> 

                            </div>
                        </div> 

                        
                    </div>
                </div>


                <div class="col-lg-12 ">
                     
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <div class="tab-pane fade show active" id="tab-pane-1">
                                <h4 class="mb-3">Informacoes adicional</h4> 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Outras informacoes da casa</label>
                                   
                                        <textarea class="form-control" id="msg"></textarea>

                                </div> 
                            </div>
                        </div>

                        <div class="card-footer border-secondary
                            bg-transparent">

                            <button class="btn btn-block btn-primary my-3 py-3">Anuciar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>